<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="../css/sensores.css" />
</head>
<body>
  <header>
    <div class="logo">Sistema Irrigação Arduíno</div>
    <button class="logout" onclick="logout()">Logoff</button>
  </header>

    <main class="content">
      <iframe title="Dashboard PIDSM4-Mobile"
      src="https://app.powerbi.com/view?r=eyJrIjoiNWRhZmUxZjMtMDNlZi00MGQyLWFmNzItODgyNjk2ZWMzOWIzIiwidCI6ImNmNzJlMmJkLTdhMmItNDc4My1iZGViLTM5ZDU3YjA3Zjc2ZiIsImMiOjR9"  
      frameborder="0"
      allowFullScreen="true"></iframe>
    </main>

  <script>
    function logout() {
      localStorage.removeItem('token');
      window.location.href = '/';
    }
  </script>
</body>
</html>
